.container {
    display: flex;
    /* margin-left: 500px; */
    justify-content: center;
   
}
a{
    margin-left: 50px;
    text-decoration: none;
}
.active{
    text-decoration: underline;
    color: #ff007b;
}